
<form method="POST" action="/post/store" enctype="multipart/form-data" class="post-form">
<%= token_tag %>

<div class="form-group">
    <label for="title" class="flow-text">Title</label>
    <input type="text" name="title" class="form-control">
</div>
<div class="form-group">
    <label for="media" class="flow-text" >Post Media</label>
    <input type="file"  class="btn waves-effect waves-light" name="media" class="form-control media-upload">
</div>
<div class="form-group">
    <label for="author" class="flow-text" >Post Author</label>
    <input type="text" name="author" class="form-control" />
</div>
<div class="form-group">
    <label for="body" class="flow-text">Post Content</label>
    <textarea name="body" class="form-control" cols="30" rows="10"></textarea>
</div>
<div class="from-group">
    <div><input class="btn waves-effect waves-light" type="submit" value="Create Post"></div>
</div>
</form>